.cardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.cardsContainer > div:first-child {
  background-color: #afd6fc;
}
.cardsContainer > div:nth-child(2) {
  background-color: #dcf5e1;
}
.cardsContainer > div:nth-child(3) {
  background-color: #d8aaaa;
}
.cardsContainer > div:last-child {
  background-color: #f3e0c8;
}

.cardDiv {
  border-radius: 10px;
  padding: 0.5rem 1rem 1rem 1rem;
}

.title {
  font-size: 1.2rem;
  font-weight: bolder;
}
.number {
  font-size: 1.6rem;
  font-weight: bold;
}

@media screen and (max-width: 845px) {
  .cardsContainer {
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    gap: initial;
  }
  .cardDiv{
    margin: 0.5rem;
  }
}
